{% extends 'base.html' %}

{% block title %}
    Post List
{% endblock %}

{% block ust_icerik %}
    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $(".post").on('click', '.add-favorite-button', function (e) {
                e.preventDefault();
                console.log("selam");
                var $this = $(this);
                var $url = $this.attr('href');
                $.ajax({
                    url: $url,
                    method: "GET",
                    data: {},
                    success: function (data) {
                        var response = data.status;
                        var count = data.count;
                        var $span = $this.find('span');
                        if (response === 'added') {
                            $span.addClass('active');
                        } else {
                            $span.removeClass('active');
                        }
                        $this.closest('div').find('.post-favorite-count').html(count)
                    }

                })
            }).on('click', '.post-favorite-span', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $url = $this.attr('url');
                var $baslik = $this.closest('div.post').find('h3 a').html();
                console.log($baslik);
                var $modal = $("#post-favorite-modal");

                $.ajax({
                    url: $url,
                    method: "GET",
                    dataType: "json",
                    beforeSend: function () {
                        $modal.modal('show');
                    },
                    success: function (data) {
                        $modal.find('.modal-body').html(data.html).append(data.page_html);
                        $modal.find('.modal-title').html($baslik);
                    }
                })
            });
            $("#post-favorite-modal").on('click', 'button.follow-button', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $row = $this.closest('div.row');
                var $url = $this.attr('url');
                var $followed_user = $this.attr('followed_username');
                var $follower_user = $this.attr('follower_username');
                console.log($follower_user, $followed_user);
                var new_data = {'followed_username': $follower_user, 'follower_username': $followed_user};
                $.ajax({
                    url: $url,
                    dataType: 'json',
                    method: "GET",
                    data: new_data,
                    success: function (data) {
                        $row.html(data.html);
                    }
                })
            }).on('click', '#favorite_paginate', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $this_parent = $this.closest('div');
                var $user_favorite_list = $this.closest('.modal-body').find('#user_favorite_list');
                var $url = $this.attr('href');
                $.ajax({
                    url: $url,
                    method: "GET",
                    success: function (data) {
                        $user_favorite_list.append(data.html);
                        $user_favorite_list.after(data.page_html);
                        $this_parent.remove();

                    }
                })
            })
        })


    </script>
{% endblock %}


{% block icerik %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'blog/include/favorite/favorite-modal.html' %}
            <div class="col-lg-8 col-lg-offset-2">

                <div class="row">
                    <div class="col-lg-12">
                        {{ request.user }}
                        <form class="form-inline" action="{% url 'post-list' %}">

                            {% for foo in form %}
                                <div class="form-group">
                                    {{ foo }}
                                    {% for error in foo.errors %}
                                        <span class="text-danger"><b>{{ error }}</b></span>
                                    {% endfor %}
                                </div>

                            {% endfor %}

                            <input type="submit" class="btn btn-success" value="Sorgula">

                        </form>
                    </div>
                </div>


                {% for post in posts %}
                    <div class="post">
                        <h3><a href="{% url 'post-detail' post.slug %}"> {{ post.title }}</a>
                            {{ post.get_yayin_taslak_html }}
                            <a href="{% url 'add-remove-favorite' post.slug %}"
                               class="add-favorite-button btn btnsm btn-default">
                                <span class="glyphicon glyphicon-star {% if request.user.username in post.get_added_favorite_user %}active{% endif %}"></span>
                            </a>
                            <small style="font-size:small"><span
                                    class="glyphicon glyphicon-time"></span> {{ post.created_date }}</small>
                        </h3>
                        {% if post.get_image %}
                            <img class="img-responsive" src="{{ post.get_image }}" alt="">

                        {% endif %}
                        <p><span class="glyphicon glyphicon-tree-deciduous"></span> <b>
                            Yazar: <a
                                href="{% url 'user-profile' post.user.username %}"> {{ post.user.username }}</a></b>
                            <br>
                            <span title="Yorum Sayısı">
                    <span class="glyphicon glyphicon-comment"><b
                            class="post-comment-count">{{ post.get_comment_count }}</b></span>
                        </span>
                            <span url="{% url 'post-list-favorite-user' post.slug %}" class="post-favorite-span"
                                  title="Favori Sayısı">
                    <span class="glyphicon glyphicon-star active"><b
                            class="post-favorite-count">{{ post.get_favorite_count }}</b></span>
                          </span>
                        </p>
                        <p style="margin-top: 20px;"> {{ post.content|linebreaksbr|truncatechars:250 }}</p>
                    </div>
                {% empty %}
                    <p>Aradağınız Kiriteder Bir Blog Bulunamadı</p>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-lg-12">


                    <div class="col-lg-8 col-lg-offset-2">
                        {% if posts.has_other_pages %}

                            <ul class="pagination">
                                {% if posts.has_previous %}
                                    <li><a href="?page=
























                                            {{ posts.previous_page_number }}{% if request.GET.taslak_yayin %}&taslak_yayin={{ request.GET.taslak_yayin }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}

                                {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li><a href="?page=


















                                                {{ i }}{% if request.GET.taslak_yayin %}&taslak_yayin={{ request.GET.taslak_yayin }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if posts.has_next %}
                                    <li><a href="?page=

















                                            {{ posts.next_page_number }}{% if request.GET.taslak_yayin %}&taslak_yayin={{ request.GET.taslak_yayin }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}