{% extends 'base.html' %}

{% block title %}
    Post List
{% endblock %}


{% block icerik %}



    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8 col-lg-offset-2">


                <h2 class="page-header"><a href="{% url 'post-list' %}">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span></a> <a>{{ blog.title|upper }}</a>

                    <span style="font-size:20px;">{{ blog.get_yayin_taslak_html }}</span>


                    <small class="pull-right">{{ blog.created_date }}</small>
                </h2>

                <div class="row">
                    <div class="col-lg-12">
                        {% if blog.image %}
                            <img class="img-responsive" src="{{ blog.image.url }}" alt="">

                        {% endif %}

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead"> {{ blog.content|linebreaksbr }}</p>
                        <p class="lead">
                            Kategoriler: {{ blog.kategoriler.all|join:',' }}
                        </p>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 ">
                        <a href="{% url 'post-update' blog.slug %}" class=" btn btn-primary">Güncelle</a>
                        <a href="{% url 'post-delete' blog.slug %}" class=" btn btn-danger">Sil</a>
                    </div>
                </div>


                <div class="row">
                    <h2 class="page-header">
                        Yorum Ekle
                    </h2>
                    <form action="{% url 'add-comment' blog.slug %}" method="post">
                        {% csrf_token %}
                        {{ form.media }}
                        {% for field in form %}
                            <div class="row">
                                <div class="col-lg-9 col-lg-offset-2">
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>

                                </div>

                            </div>

                        {% endfor %}

                        <div class="row">
                            <div class="col-lg-9 col-lg-offset-2">
                                <div class="form-group">
                                    <input type="submit" value="Yorum Yap" class="btn btn-success pull-right">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="row">
                    <h2 class="page-header">Yorumlar({{ blog.get_blog_comment|length }})</h2>
                    <div class="col-lg-12">

                        {% for comment in blog.get_blog_comment %}
                            <div>

                                <span style="font-weight:bold"> {{ comment.get_screen_name }}</span>
                                <span class="pull-right" style="font-weight:bold;">

                        <span class="glyphicon glyphicon-time"></span> {{ comment.comment_time|timesince }} Önce</span>

                            </div>
                            <p style="padding-left:10px;">
                                {{ comment.comment }}
                            </p>
                        {% endfor %}
                    </div>

                </div>


            </div>
        </div>

    </div>



{% endblock %}