{% extends 'base.html' %}

{% block title %} {{ user.profile.get_screen_name }}{% endblock %}

{% block ust_icerik %}
    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $("#takip_et_cikar_button").click(function () {
                var $this = $(this)
                var $url = $this.attr('url')
                var $takip_eden = $this.attr('takip_eden')
                var $takip_edilen = $this.attr('takip_edilen')

                var data = {follower_username: $takip_eden, followed_username: $takip_edilen}

                $.ajax({
                    url: $url,
                    type: 'GET',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        if (data.is_valid) {
                            $this.html(data.msg)
                        }
                    }
                })

            })
        })

    </script>
{% endblock %}


{% block icerik %}
    <div class="row">
        <div class="col-lg-8 pull-center">
            {% if request.user != user %}
                <div>
                    <button takip_edilen='{{ user.username }}' takip_eden="{{ request.user.username }}"
                            url="
                    {% url 'kullanici-takip-et-cikar' %}" id="takip_et_cikar_button"
                            class="btn btn-success btn-md">
                        {% if takip_ediyor_mu %}
                            <b>Takip Ediliyor.</b>
                        {% else %}
                            <b>Takip Et.</b>
                        {% endif %}
                    </button>
                </div>
            {% endif %}
            <div class="text-center">
                <img class="img-circle user-profile" src="{{ user.userprofile.get_profile_photo }}">
            </div>
            <div class="text-center">
                <br/>
                {% if user.userprofile.user_full_name %}
                    <span class="text"><b>{{ user.userprofile.user_full_name|upper }}</b></span>
                    <br/>
                {% endif %}
                <span class="text">
                    <b>@{{ user.username }}</b>
                </span>
                <span class="text">
                    <br>
                    <b>{{ user.userprofile.get_sex_display }}</b>
                </span>
            </div>
            {% if request.user == user %}
                {% include 'auths/profile/include/owner_navbar.html' %}

            {% else %}
                {% include 'auths/profile/include/visitor_navbar.html' %}
            {% endif %}
            <div>
                <div>
                    {% block profil_icerik %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}