{% extends 'base.html' %}

{% block title %} {{ user.profile.get_screen_name }}{% endblock %}

{% block ust_icerik %}


    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $("#user_following").on('click', '.follow_button', function () {
                var $this = $(this);
                var $url = $this.attr('url');
                var $follow_type = $this.attr("follow_type");
                var $modal = $("#profile_following_modal");
                $modal.attr('follow_type', $follow_type)
                var $username = $this.attr('username');
                console.log($url);
                $modal.modal('show');
                if ($follow_type === "followed")
                    $modal.find('.modal-title').html("Takip Edilenler");
                else if ($follow_type === "followers")
                    $modal.find('.modal-title').html("Takipçiler");

                // ajax request başlangıç
                $.ajax({
                    url: $url,
                    method: "GET",
                    dataType: 'json',
                    data: {'username': $username},
                    success: function (data) {
                        $modal.find('#follow_paginate').closest('div').remove();
                        $modal.find('.modal-body #follow_list').html('').prepend(data.html).after('').after(data.html_paginate);
                        $modal.modal('show');
                    }
                })

            });

            $("#takip_et_cikar_button").click(function () {
                var $this = $(this);
                var $url = $this.attr('url');
                var $takip_eden = $this.attr('takip_eden');
                var $takip_edilen = $this.attr('takip_edilen');

                var data = {follower_username: $takip_eden, followed_username: $takip_edilen};

                $.ajax({
                    url: $url,
                    type: 'GET',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        if (data.is_valid) {
                            $this.html(data.msg);
                            $("#user_following").html(data.html);
                        }
                    }
                })

            });
            $("#profile_following_modal").on('click', '#follow_list .follow .follow-button', function (e) {
                var $this = $(this);
                var $modal_body = $this.closest('.modal-body');
                var $span = $($this.closest('.follow').find('span'));
                var $modal = $(this.closest('.modal'));
                var $owner = $modal.attr('owner')
                var $follow_type = $modal.attr('follow_type');
                var takip_eden = $span.attr('takip_eden');
                var takip_edilen = $span.attr('takip_edilen');
                var url = "{% url 'modal-takip-et-cikar' %}";
                var data = {
                    owner: $owner,
                    follow_type: $follow_type,
                    follower_username: takip_eden,
                    followed_username: takip_edilen
                };

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",

                    data: data,
                    success: function (data) {
                        if (data.owner) {
                            if (data.follow_type === 'followed') {
                                $modal_body.find("#follow_list").html(data.html)
                            } else {
                                if (data.takip_durumu) {
                                    $this.removeClass('btn-success');
                                    $this.addClass('btn-danger');
                                } else {
                                    $this.removeClass('btn-danger');
                                    $this.addClass('btn-success');

                                    $this.html(data.msg);
                                }
                            }
                            $("#user_following").html(data.html_takip_render)
                        } else {
                            if (data.takip_durumu) {
                                $this.removeClass('btn-success');
                                $this.addClass('btn-danger');
                            }
                            else {
                                $this.removeClass('btn-danger');
                                $this.addClass('btn-success');
                            }
                            $this.html(data.msg);
                        }
                    }
                })
            })
        }).on('click', '#follow_paginate', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $follow_list = $this.closest('.modal').find('#follow_list');
            var $follow_paginate = $this.closest('.modal').find('#follow_paginate');
            var url = $this.attr('href');
            $.ajax({
                url: url,
                dataType: 'json',
                method: "GET",
                success: function (data) {
                    if (data.is_valid) {
                        $follow_list.append(data.html);
                        $follow_paginate.remove();
                        $follow_list.after(data.html_paginate);
                    }
                }
            })
        });

    </script>
{% endblock %}


{% block icerik %}
    <div class="row">
        <div class="col-lg-8 pull-center">
            {% include 'following/profile/include/following_modal.html' %}
            {% if request.user != user %}
                <div>
                    <button takip_edilen='{{ user.username }}' takip_eden="{{ request.user.username }}"
                            url="
                    {% url 'kullanici-takip-et-cikar' %}" id="takip_et_cikar_button"
                            class="btn btn-success btn-md">
                        {% if takip_ediyor_mu %}
                            <b>Takip Ediliyor.</b>
                        {% else %}
                            <b>Takip Et.</b>
                        {% endif %}
                    </button>
                </div>
            {% endif %}
            <div class="text-center">
                <img class="img-circle user-profile" src="{{ user.userprofile.get_profile_photo }}">
            </div>
            <div class="text-center">
                <br/>
                {% if user.userprofile.user_full_name %}
                    <span class="text"><b>{{ user.userprofile.user_full_name|upper }}</b></span>
                    <br/>
                {% endif %}
                <span class="text">
                    <b>@{{ user.username }}</b>
                </span>
                <span class="text">
                    <br>
                    <b>{{ user.userprofile.get_sex_display }}</b>
                </span>
            </div>
            <div id="user_following" class="row">
                {% include 'auths/profile/include/following/following_partion.html' %}

            </div>


            {% if request.user == user %}
                {% include 'auths/profile/include/owner_navbar.html' %}

            {% else %}
                {% include 'auths/profile/include/visitor_navbar.html' %}
            {% endif %}
            <div>
                <div>
                    {% block profil_icerik %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}