<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <style type="text/css">
        #gis {
            width: 80%;
            height: 500px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>

<body>
<script type="text/javascript">
    function our_layers(map, options) {
        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });
        var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            maxZoom: 17,
            attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        });
        var datasets = new L.GeoJSON.AJAX("{% url 'county-data' %}", {
            style: function colors(feature) {
                switch (feature.properties.counties) {
                    case 'WAJIR':
                        return {
                            color: 'orange'
                        };
                        break;
                    case 'MARSABIT':
                        return {
                            color: 'purple'
                        };
                        break;
                }
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.counties.toString());
            }
        });

        var points = new L.GeoJSON.AJAX('{% url 'incidences' %}', {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.name.toString());
            }
        });

        datasets.addTo(map);
        points.addTo(map);

        var baseLayers = {
            "OSM": osm
        };

        var groupedOverlays = {
            "Layers": {
                "counties": datasets,
                "incidences": points
            }
        };

        L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);


    }
</script>
</head>
<h3> We are heroes</h3>
<br>
{% csrf_token %}

<form method="POST" action="">
    {% csrf_token %}
    {{ form.media }}
</form>

</body>
</html>