<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <style type="text/css">
        #gis {
            width: 80%;
            height: 500px;
        }
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>

<body>
<script type="text/javascript">
    function our_layers(map, options) {

        var datasets = new L.GeoJSON.AJAX("{% url 'county-data' %}", {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.counties.toString());
            }
        });

        var points = new L.GeoJSON.AJAX('{% url 'incidences' %}', {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.name.toString());
            }
        });

        datasets.addTo(map);
        points.addTo(map);


    }
</script>
</head>
<h3> We are heroes</h3>
<br>

{% leaflet_map "gis" callback="window.our_layers" %}
</body>
</html>